# At least one API key is required for the chain you want to query.
# Get free API keys from:
#   Solscan: https://solscan.io/api
#   Etherscan: https://etherscan.io/myapikey
#   BscScan: https://bscscan.com/myapikey

SOLSCAN_API_KEY=
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
